---
import usersImage from "./images/docs/users.png";
import providersImage from "./images/docs/providers.png";
import developersImage from "./images/docs/developers.png";
interface DataItem {
  enabled?: boolean;
  link?: string;
  title?: string;
  description?: string;
  linkTitle?: string;
  image?: ImageMetadata;
}

interface Props {
  title?: string;
  subtitle?: string;
  data: {
    users: DataItem;
    publishers?: DataItem;
    developers: DataItem;
  };
}

const { data, title, subtitle } = Astro.props;

const categories = [
  {
    image: data.users.image ?? usersImage,
    title: data.users.title ?? "Users",
    description:
      data.users.description ??
      "We are a nonprofit with a mission to offer the Mee human-centered user experience for the internet.",
    linkTitle: data.users.linkTitle ?? "View docs for users",
    link: data.users.link,
    enabled: data.users.enabled,
  },
  {
    image: data.publishers?.image ?? providersImage,
    title: data.publishers?.title ?? "Publishers",
    description:
      data.publishers?.description ??
      "We are a nonprofit with a mission to offer the Mee human-centered user experience for the internet.",
    linkTitle: data.publishers?.linkTitle ?? "View docs for publishers",
    link: data.publishers?.link,
    enabled: data.publishers?.enabled,
  },
  {
    image: data.developers.image ?? developersImage,
    title: data.developers.title ?? "Developers",
    description:
      data.developers.description ??
      "We are a nonprofit with a mission to offer the Mee human-centered user experience for the internet.",
    linkTitle: data.developers.linkTitle ?? "View docs for developers",
    link: data.developers.link,
    enabled: data.developers.enabled,
  },
];
---

{
  title && (
    <section class="section z-100 flex h-full w-screen items-center justify-center">
      <div class="flex max-w-192 flex-col items-center justify-center gap-2 px-6 transition-opacity duration-500 md:p-0">
        <h1 class="marker text-center text-4xl font-semibold text-gray-900 lg:text-7xl lg:tracking-0.02 dark:text-gray-50">
          {title}
        </h1>
        {subtitle && (
          <section class="overflow-hidden">
            <h3 class="text animation-delay-800 px-6 text-center text-xl leading-relaxed text-gray-900 md:text-2xl dark:text-gray-50">
              Everything you need to build a stellar documentation website.
              Fast, accessible, and easy-to-use.
            </h3>
          </section>
        )}
      </div>
    </section>
  )
}

<section
  class="flex h-auto max-w-7xl flex-col items-center justify-center bg-white dark:bg-darky"
>
  <div class="flex">
    <div class="flex flex-wrap items-stretch justify-center gap-8 p-8">
      {
        categories.map((category) => {
          return (
            category.enabled && (
              <a
                class="flex max-w-96 flex-col rounded-2xl border border-grey-300 pb-8 transition-all hover:border-brand-300 hover:shadow-3-strong"
                href={category.link}
              >
                <img
                  src={category.image.src}
                  class="w-full"
                  alt={`${category.title} Docs`}
                />
                <div class="flex h-full flex-col justify-between">
                  <div class="flex flex-col justify-between gap-2 p-8 pb-4 pt-0">
                    <div class="flex items-center gap-2 text-left text-xl font-semibold text-grey-900 lg:text-2xl dark:text-gray-50">
                      {category.title}
                    </div>
                    <div class="text-sm text-grey-800 lg:text-base dark:text-gray-200">
                      {category.description}
                    </div>
                  </div>
                  <p class="flex cursor-pointer items-center gap-2.5 px-8 py-0.5 text-brand-700 dark:text-brand-300">
                    <span class="underline">{category.linkTitle}</span>
                    <i class="bi bi-arrow-right" />
                  </p>
                </div>
              </a>
            )
          );
        })
      }
    </div>
  </div>
</section>
