---
interface Props {
  className?: string;
  id?: string;
  type?: "submit" | "reset" | "button" | undefined | null;
  size?: "xxl" | "l" | "m" | "s";
  buttonType?: "primary" | "secondary" | "tertiary" | "danger";
  style?: "filled" | "outlined" | "transparent";
  icon: string;
  disabled?: boolean;
}

const {
  className,
  id,
  type = "button",
  buttonType = "primary",
  style = "filled",
  size = "l",
  icon,
  disabled,
} = Astro.props;
---

<button
  id={id}
  type={type}
  disabled={disabled}
  class:list={[
    "z-10 box-border flex flex-none grow-0 flex-row items-center justify-center gap-2 rounded-md border border-solid font-semibold",
    `${buttonType}-${style}`,
    "disabled:cursor-default disabled:opacity-60",
    size === "xxl" && "size-14 text-4xl",
    size === "l" && "size-11 text-4xl",
    size === "m" && "size-9 text-3xl",
    size === "s" && "size-7.5 text-2xl",
    className,
  ]}
>
  <i class:list={["bi font-thin", "bi-" + icon]}></i>
</button>

<style>
  .primary-filled {
    @apply border-brand-600 bg-primary-gradient text-white hover:border-brand-800 hover:bg-primary-gradient-hover focus:shadow-button disabled:hover:border-brand-600 disabled:hover:bg-primary-gradient dark:bg-primary-gradient-dark dark:text-brand-900 dark:hover:bg-primary-gradient-hover-dark dark:disabled:hover:bg-primary-gradient-dark;
  }

  .primary-transparent {
    @apply border-0 bg-transparent text-brand-700 hover:text-brand-800 focus:border focus:border-brand-700 focus:text-brand-800 focus:shadow-button dark:text-brand-300 dark:hover:text-brand-200;
  }

  .primary-outlined {
    @apply border-brand-700 bg-transparent text-brand-700 hover:bg-brand-50 focus:shadow-button disabled:hover:bg-transparent dark:border-brand-300 dark:text-brand-300 dark:hover:bg-white/25 dark:disabled:hover:bg-transparent;
  }

  .secondary-filled {
    @apply border-brand-300 bg-brand-50 text-brand-700 hover:bg-brand-100 focus:shadow-button disabled:hover:bg-brand-50;
  }

  .secondary-outlined {
    @apply border-brand-300 bg-transparent text-brand-700 hover:bg-brand-50 focus:shadow-button disabled:hover:bg-transparent;
  }

  .secondary-transparent {
    @apply border-none bg-transparent text-brand-700 hover:text-brand-800 focus:text-brand-800 focus:shadow-button;
  }

  .tertiary-filled {
    @apply border-grey-300 bg-grey-50 text-grey-700 hover:bg-grey-100 focus:shadow-button-tertiary disabled:hover:bg-grey-50;
  }

  .tertiary-outlined {
    @apply border-grey-300 bg-transparent text-grey-700 hover:bg-grey-100 focus:shadow-button-tertiary disabled:hover:bg-transparent dark:text-grey-300 dark:hover:bg-white/25;
  }

  .tertiary-transparent {
    @apply border-none bg-transparent text-grey-700 hover:text-grey-800 focus:text-grey-800 focus:shadow-button-tertiary dark:text-grey-300;
  }

  .danger-filled {
    @apply border-error-700 bg-error-700 text-white hover:bg-error-800 focus:shadow-button-danger disabled:hover:bg-error-700;
  }

  .danger-outlined {
    @apply border-error-700 bg-transparent text-error-700 hover:bg-error-50 focus:shadow-button-danger disabled:hover:bg-transparent;
  }

  .danger-transparent {
    @apply border-0 bg-transparent text-error-700 hover:text-error-800 focus:border focus:border-error-700 focus:text-error-800 focus:shadow-button-danger;
  }
</style>
