---
interface Props {
  project: {
    title: string;
    label: string;
    description: string;
    image: ImageMetadata;
    imageDark: ImageMetadata;
    comingSoon?: boolean;
  };
}

const { project } = Astro.props;
---

<div class="relative flex w-full flex-col h-[260px] justify-between">
  <div class="relative flex flex-col">
    <div
      class="absolute left-4 top-4 flex flex-col w-[calc(100%-32px)] justify-center text-base font-semibold text-grey-900 dark:text-grey-200"
    >
      <div class="text-success-700 dark:text-success-300 text-xs -mb-1 uppercase">{project.label}</div>
      {project.title}
      <div class="text-xs font-normal whitespace-normal mt-1 text-gray-600 dark:text-gray-400">{project.description}</div>
    </div>
  </div>

  <img
    src={project.image.src}
    width="258"
    height="215"
    class="rounded-2xl dark:hidden"
    alt={project.title.split(" ").join("_")}
  />
  <img
    src={project.imageDark.src}
    width="258"
    height="215"
    class="hidden rounded-2xl dark:block"
    alt={project.title.split(" ").join("_")}
  />
</div>
