---
interface Props {
  id?: string;
  columns: { title: string; name: string; sorted?: boolean }[];
  withCheckbox?: boolean;
  className?: string;
  labels?: {
    text: string;
    bgColor: string;
    color: string;
    borderColor: string;
  }[];
  actions?: {actionType: string; text: string; icon: string; className: string }[];

  // small data for small tables
  tableData?: { [K: string]: number | string | undefined }[];
  // or url for fetching data from API
  url?: string;
}

import Checkbox from "./Checkbox.astro";

const {
  columns,
  withCheckbox = false,
  labels,
  tableData,
  actions,
  className,
  url,
  id,
} = Astro.props;
---

<div class:list={["w-full rounded-lg border border-grey-300 overflow-x-auto", className]}>
  <table
    class="w-full text-sm"
    data-url={url}
    data-tableData={JSON.stringify(tableData)}
    data-columns={JSON.stringify(columns)}
    data-labels={JSON.stringify(labels)}
    data-actions={JSON.stringify(actions)}
    id={id}
  >
    <thead>
      <tr class="border-b border-grey-200">
        {
          withCheckbox && (
            <th class="th-checkbox flex p-4">
              <Checkbox id="thead-checkbox" />
            </th>
          )
        }
        {
          columns.map(({ name, title, sorted = false }) => (
            <th
              class:list={[
                "px-6 py-4",
                name === "actions" && "flex items-center justify-center",
              ]}
            >
              <div class="text-start text-grey-800 dark:text-white/90">
                {title}
              </div>
              {sorted && (
                <div
                  class="arrow-icon flex h-5 w-5 transform items-center justify-center transition-transform duration-300 ease-in-out"
                  data-name={name}
                >
                  <i class="bi bi-arrow-down-short text-base leading-4" />
                </div>
              )}
            </th>
          ))
        }
      </tr>
    </thead>
    <tbody> </tbody>
  </table>
</div>

<script>
  import TableHelper from "../helpers/table";

  TableHelper.init();
</script>
