---
import Avatar from '@components/Avatar.astro'
---

<div class="flex flex-col gap-10 p-10">
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-row gap-4 w-full">
      <Avatar isActive={true} count={30} size="xl" iconUrl='https://randomuser.me/api/portraits/men/46.jpg' />
      <Avatar isActive={true} count={30} size="lg" iconUrl='https://randomuser.me/api/portraits/men/46.jpg' />
      <Avatar isActive={true} count={30} size="base" iconUrl='https://randomuser.me/api/portraits/med/men/46.jpg' />
      <Avatar isActive={true} count={30} size="md" iconUrl='https://randomuser.me/api/portraits/med/men/46.jpg' />
      <Avatar isActive={true} count={30} size="sm" iconUrl='https://randomuser.me/api/portraits/thumb/men/46.jpg' />
      <Avatar isActive={true} count={30} size="xs" iconUrl='https://randomuser.me/api/portraits/thumb/men/46.jpg' />
    </div>
    <div class="flex flex-row gap-4 w-full">
      <Avatar isActive={true} count={30} size="xl" isRounded={false} iconUrl='https://randomuser.me/api/portraits/men/46.jpg' />
      <Avatar isActive={true} count={30} size="lg" isRounded={false} iconUrl='https://randomuser.me/api/portraits/men/46.jpg' />
      <Avatar isActive={true} count={30} size="base" isRounded={false} iconUrl='https://randomuser.me/api/portraits/med/men/46.jpg' />
      <Avatar isActive={true} count={30} size="md" isRounded={false} iconUrl='https://randomuser.me/api/portraits/med/men/46.jpg' />
      <Avatar isActive={true} count={30} size="sm" isRounded={false} iconUrl='https://randomuser.me/api/portraits/thumb/men/46.jpg' />
      <Avatar isActive={true} count={30} size="xs" isRounded={false} iconUrl='https://randomuser.me/api/portraits/thumb/men/46.jpg' />
    </div>
    <div class="flex flex-row gap-4 w-full">
      <Avatar isActive={false} count={3} size="xl" initials="JK" />
      <Avatar isActive={false} count={3} size="lg" initials="JK" />
      <Avatar isActive={false} count={3} size="base" initials="JK" />
      <Avatar isActive={false} count={3} size="md" initials="JK" />
      <Avatar isActive={false} count={3} size="sm" initials="JK" />
      <Avatar isActive={false} count={3} size="xs" initials="JK" />
    </div>
    <div class="flex flex-row gap-4 w-full">
      <Avatar isActive={false} count={3} size="xl" isRounded={false} initials="JK" />
      <Avatar isActive={false} count={3} size="lg" isRounded={false} initials="JK" />
      <Avatar isActive={false} count={3} size="base" isRounded={false} initials="JK" />
      <Avatar isActive={false} count={3} size="md" isRounded={false} initials="JK" />
      <Avatar isActive={false} count={3} size="sm" isRounded={false} initials="JK" />
      <Avatar isActive={false} count={3} size="xs" isRounded={false} initials="JK" />
    </div>
    <div class="flex flex-row gap-4 w-full">
      <Avatar isActive={true} count={30} size="xl" />
      <Avatar isActive={true} count={30} size="lg" />
      <Avatar isActive={true} count={30} size="base" />
      <Avatar isActive={true} count={30} size="md" />
      <Avatar isActive={true} count={30} size="sm" />
      <Avatar isActive={true} count={30} size="xs" />
    </div>
    <div class="flex flex-row gap-4 w-full">
      <Avatar isActive={true} count={30} size="xl" isRounded={false} />
      <Avatar isActive={true} count={30} size="lg" isRounded={false} />
      <Avatar isActive={true} count={30} size="base" isRounded={false} />
      <Avatar isActive={true} count={30} size="md" isRounded={false} />
      <Avatar isActive={true} count={30} size="sm" isRounded={false} />
      <Avatar isActive={true} count={30} size="xs" isRounded={false} />
    </div>
  </div>
</div>